$color-main:#007bff;
$color-dark: rgba(11, 67, 219, 0.5);
$color-secondary: #439bfa;
$color-light: #86bdf7;
$color-hover: #cbdbec;
$color-header: #C9E265;
$color-grey:#eaedf0;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
}

.site-footer {
    background-image: linear-gradient($color-main, white);
    padding: 20px 0;
}

.header-title {
    font-family: $header-font;
    color: $color-main;
}

#site-header {
    h2 {
        font-family: $header-font;
    }
    a {
        color: $color-dark;
    }
}

.header-logo {
    padding: 0;
}

.row-content {
    padding-bottom: 50px;
   // border-bottom: 1px ridge;
   // min-height: 200px;
}

.navbar {
    background-color: $color-secondary;
    padding: 0;
}

a:hover {
    color: $color-header !important;
    text-decoration: none;
}

#allCourses {
    a {
        color: black !important;
    }
}

.carousel-caption {
    background-color: $color-dark
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  .carousel-indicators {
      li {
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }
      
  }

 .modal-header {
    background-color: $color-main;
    color: white;
 }

  .jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-main, $color-dark);
    color: $color-header;
}
#allCourses {
    .card {
        border: none;
    }
    .card:hover {
        border: 1px solid $color-main;
    }
    
}
#indexInfo {
    .card-header {
        background-color: $color-secondary;
        color: white;
        font-family: $header-font;
    }
}

.img-text {
    width: 100%;
    height: 200px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    padding: 20% 5%;
    background: $color-main;
    color:white;
    border-radius: 15px;
}

.testimonialTitle {
    font-family: $header-font;
    padding-bottom: 15px;
    color: $color-main;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.table-header{
    background-color: $color-light;
    
}

.form-col-padding {
    padding: 5px;
}

.course-filter-title {
    font-weight: bold;
}

#courseItems {
    .list-group-item {
        border: none;
    }
}

.course-program {
    background: $color-header;
    color: white;
}