$color-main:#007bff;
$color-dark: rgba(11, 67, 219, 0.5);
$color-secondary: #439bfa;
$color-header: #C9E265;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
}

.site-footer {
    background-image: linear-gradient($color-main, white);
    padding: 20px 0;
}

#site-header {
    h2 {
        font-family: $header-font;
    }
    a {
        color: $color-dark;
    }
}

.header-logo {
    padding: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-secondary;
    padding: 0;
}

a:hover {
    color: $color-header !important;
    text-decoration: none;
}

#allCourses {
    a {
        color: black !important;
    }
}

.carousel-caption {
    background-color: $color-dark
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  .carousel-indicators {
      li {
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }
  }

  #loginModal {
      .modal-header {
          background-color: $color-main;
          color: white;
      }
  }
  .jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-main, $color-dark);
    color: $color-header;
}
#allCourses {
    .card {
        border: none;
    }
    .card:hover {
        border: 1px solid $color-main;
    }
    
}